<div class="main-section">
	<div class="recently-solved small-6 large-4 columns">
		<% cache("troubles-solved-#{Trouble.solved.count}-#{Trouble.solved.maximum(:updated_at)}") do %>
		<h3>Recently Solved Troubles</h3>
			<% Trouble.solved.first(5).each do |trouble| %>
				<div class="solved-trouble">
					<h5 class="trouble-title"><%= trouble.name %></h5>
					<p class="trouble-description"><%= trouble.description %></p>
				</div>
			<% end %>
		<% end %>
	</div>
	<% if current_user %>
		<% cache("troubles-owned-#{Trouble.count}-#{Trouble.maximum(:updated_at)}") do %>
		<div class="accepted-troubles small-8 large-4 columns"><h3>Troubles You've Taken On</h3>
			<div class="accepted-trouble">
				<h5 class="trouble-title">My Neighbor...</h5>
				<p class="trouble-description">Won't stop complaining about my...</p>
				<a href="" class="solve success button text-center">Solved!</a>
			</div>
			<div class="accepted-trouble">
				<h5 class="trouble-title">LFR</h5>
				<p class="trouble-description">Just for a couple nights while...</p>
			</div>
		</div>
		<% end %>
		<% cache("troubles-recent-#{Trouble.count}-#{Trouble.maximum(:updated_at)}") do %>
		<div class="recently-posted small-12 large-4 columns"><h3>Recently Posted Troubles</h3>
			<div class="trouble">
				<h5 class="trouble-title">Cheated!</h5>
				<p class="trouble-description">I'm sure he's cheating, but...</p>
				<a href="" class="accept button text-center">Accept?</a>
			</div>
			<div class="trouble">
				<h5 class="trouble-title">Quick, I need this!</h5>
				<p class="trouble-description">I'm short on cake ingredients!</p>
				<a href="" class="accept button text-center">Accept?</a>
			</div>
		</div>
		<% end %>
	<% else %>
		<% cache("troubles-recent-#{Trouble.count}-#{Trouble.maximum(:updated_at)}") do %>
		<div class="recently-posted small-6 large-8 columns">
			<h3>Recently Posted Troubles</h3>
			<div class="trouble">
				<h5 class="trouble-title">Cheated!</h5>
				<p class="trouble-description">I'm sure he's cheating, but...</p>
			</div>
			<div class="trouble">
				<h5 class="trouble-title">Quick, I need this!</h5>
				<p class="trouble-description">I'm short on cake ingredients!</p>
			</div>
		</div>
		<% end %>
	<% end %>
</div>