<div class="main-section">
	<div class="recently-solved small-4 large-4 columns">
		<h3>Recently Solved Troubles</h3>
		<div class="solved-trouble">
			<h5 class="trouble-title">I Don't Understand Statistics</h5>
			<p class="trouble-description">No, seriously! I need a mathematician...</p>
		</div>
		<div class="solved-trouble">
			<h5 class="trouble-title">Someone's Hurt!</h5>
			<p class="trouble-description">They fell down the stairs near this...</p>
		</div>
	</div>
	<div class="accepted-troubles small-8 large-4 columns"><h3>Troubles You've Taken On</h3>
		<div class="accepted-trouble">
			<h5 class="trouble-title">My Neighbor...</h5>
			<p class="trouble-description">Won't stop complaining about my...</p>
			<a href="" class="solve success button text-center">Solved!</a>
		</div>
		<div class="accepted-trouble">
			<h5 class="trouble-title">LFR</h5>
			<p class="trouble-description">Just for a couple nights while...</p>
			<%= link_to "Solved!", trouble_solve_path(trouble.id, 'Solve'), method: :PATCH, remote: true, class: 'solve success button text-center' %>
		</div>
	</div>
	<div class="recently-posted small-12 large-4 columns"><h3>Recently Posted Troubles</h3>
		<div class="trouble">
			<h5 class="trouble-title">Cheated!</h5>
			<p class="trouble-description">I'm sure he's cheating, but...</p>
			<a href="" class="accept button text-center">Accept?</a>
		</div>
		<div class="trouble">
			<h5 class="trouble-title">Quick, I need this!</h5>
			<p class="trouble-description">I'm short on cake ingredients!</p>
			<a href="" class="accept button text-center">Accept?</a>
		</div>
	</div>
</div>