/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
	background-color: #FFF8F5
}

.recently-solved {
	background-color: #FBFFF5
}

.recently-solved h3 {
	color: #9AFF00
}

.recently-solved h5 {
	color: #9AFF00
}

.recently-solved p {
	color: #A7FF20
}

.accepted-troubles {
	background-color: #FFFBE9
}

.accepted-troubles h3 {
	color: #FFCF01
}

.accepted-troubles h5 {
	color: #FFCF01
}

.accepted-troubles p {
	color: #FFD520
}

.recently-posted {
	background-color: #F0ECFF
}

.recently-posted h3 {
	color: #441CE4
}

.recently-posted h5 {
	color: #441CE4
}

.recently-posted p {
	color: #623BFF
}

.navbar {
	background-color: #FF5701;
	color: #FFFFFF;
	display: inline;
	text-decoration: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

/*


#####  Color Palette by Paletton.com
#####  Palette URL: http://paletton.com/#uid=44b140k2K++DY++rW++rLYDvRQg


*** Primary color:

   shade 0 = #F0ECFF = rgb(240,236,255) = rgba(240,236,255,1) = rgb0(0.941,0.925,1)
   shade 1 = #4416FF = rgb( 68, 22,255) = rgba( 68, 22,255,1) = rgb0(0.267,0.086,1)
   shade 2 = #623BFF = rgb( 98, 59,255) = rgba( 98, 59,255,1) = rgb0(0.384,0.231,1)
   shade 3 = #603BF9 = rgb( 96, 59,249) = rgba( 96, 59,249,1) = rgb0(0.376,0.231,0.976)
   shade 4 = #441CE4 = rgb( 68, 28,228) = rgba( 68, 28,228,1) = rgb0(0.267,0.11,0.894)

*** Secondary color (1):

   shade 0 = #F6FFE9 = rgb(246,255,233) = rgba(246,255,233,1) = rgb0(0.965,1,0.914)
   shade 1 = #9AFF00 = rgb(154,255,  0) = rgba(154,255,  0,1) = rgb0(0.604,1,0)
   shade 2 = #A7FF20 = rgb(167,255, 32) = rgba(167,255, 32,1) = rgb0(0.655,1,0.125)
   shade 3 = #A7FE22 = rgb(167,254, 34) = rgba(167,254, 34,1) = rgb0(0.655,0.996,0.133)
   shade 4 = #97F801 = rgb(151,248,  1) = rgba(151,248,  1,1) = rgb0(0.592,0.973,0.004)

*** Secondary color (2):

   shade 0 = #FFF1E9 = rgb(255,241,233) = rgba(255,241,233,1) = rgb0(1,0.945,0.914)
   shade 1 = #FF5600 = rgb(255, 86,  0) = rgba(255, 86,  0,1) = rgb0(1,0.337,0)
   shade 2 = #FF6B20 = rgb(255,107, 32) = rgba(255,107, 32,1) = rgb0(1,0.42,0.125)
   shade 3 = #FF6C22 = rgb(255,108, 34) = rgba(255,108, 34,1) = rgb0(1,0.424,0.133)
   shade 4 = #FF5701 = rgb(255, 87,  1) = rgba(255, 87,  1,1) = rgb0(1,0.341,0.004)

*** Complement color:

   shade 0 = #FFFBE9 = rgb(255,251,233) = rgba(255,251,233,1) = rgb0(1,0.984,0.914)
   shade 1 = #FFCF00 = rgb(255,207,  0) = rgba(255,207,  0,1) = rgb0(1,0.812,0)
   shade 2 = #FFD520 = rgb(255,213, 32) = rgba(255,213, 32,1) = rgb0(1,0.835,0.125)
   shade 3 = #FFD622 = rgb(255,214, 34) = rgba(255,214, 34,1) = rgb0(1,0.839,0.133)
   shade 4 = #FFCF01 = rgb(255,207,  1) = rgba(255,207,  1,1) = rgb0(1,0.812,0.004)


#####  Generated by Paletton.com (c) 2002-2014

*/